<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sungmin.finance</string>
	<key>connections</key>
	<dict>
		<key>65701404-C17E-4B7F-A629-33B885553873</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4387A70-9FCF-4162-B851-EA5534C50892</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sungmin Oh</string>
	<key>description</key>
	<string>check stock price</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>네이버 금융</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C4387A70-9FCF-4162-B851-EA5534C50892</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>s</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>잠시만 기다려주세요.</string>
				<key>script</key>
				<string>python naver_stock.py {query}</string>
				<key>title</key>
				<string>네이버 금융</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>65701404-C17E-4B7F-A629-33B885553873</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>65701404-C17E-4B7F-A629-33B885553873</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>C4387A70-9FCF-4162-B851-EA5534C50892</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
